.score-table {
    width: 80%;
    border-collapse: collapse;
    margin:100px auto 0;
    background-color: var(--secondary-color);
  }
  
  .score-table th, .score-table td {
    border: 1px solid #ccc;
    color:#fff;
    padding: 0.5rem;
    text-align: center;
  }

  thead{
    background-color: var(--hover-color);
  }

  @media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
  }


  @media (min-width:400px) and (max-width: 800px) {

    .score-table th, .score-table td {
      font-size: 0.8rem;
    }
  }

  @media (min-width:320px) and (max-width: 399px) {

    .score-table th, .score-table td {
      font-size: 0.7rem;
    }
  }