.difficultyContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}

  
  /* Tab button styles */
  .tabButtonDifficulty {
    width: 400px;
    height: 60px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  .tabButtonDifficulty:hover {
    background-color: #8c014a;
  }


  @media (min-width:320px) and (max-width:480px){

    .difficultyContainer {
      justify-content: none;
      height: auto;
      padding-top: 30px !important;
      gap: 1.5rem;
    }

    .difficultyContainer img{
      width:60%;
    }

    .tabButtonDifficulty {
        width: 250px;
        height: 50px;
        font-size: 1.2rem;
        line-height: 50px;
    }
  } 