.languageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}

  
  /* Tab button styles */
  .tabButtonLanguage {
    display: flex;                   /* Enable flexbox */
    align-items: center;            /* Vertical centering */
    justify-content: center;        /* Horizontal centering (text + image together) */
    gap: 0.8rem;                    /* Space between image and text */
    width: 400px;
    height: 60px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  
  .tabButtonLanguage:hover {
    background-color: #8c014a;
  }

  @media (min-width:320px) and (max-width:480px){
    .tabButtonLanguage {
        width: 250px;
        height: 50px;
        font-size: 1.2rem;
        line-height: 50px;
    }

    .languageContainer {
      justify-content: none;
      height: auto;
      padding-top: 30px !important;
      gap: 1.4rem;
    }

    .languageContainer img{
      width:80%;
    }
  }


